@import '~src/assets/scss/colors.scss';
:host {
    width: 100%;
    margin: 40px;
}

.table {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    min-width: 600px;
    margin: 0 0 3em 0;
    flex-direction: column;

    &-error {
        color: $bordo;
        font-family: 'Jura', sans-serif;
        font-size: 24px;
        text-align: center;
        height: 100px;
        line-height: 100px;
    }
  }

.table-wrapper {
    overflow: scroll;
    width: calc(100% - 80px);
}

@media ( min-width: 900px) {
    .table {
        margin: auto;
        max-width: 1200px;  
    }
}
