<div class="table-wrapper">
  <div *ngIf="loading">loading...</div>

  <div class="table">
    <!-- 
      table head is just the same row 
      but with custom data and styles
    -->
    <app-table-row
      class="table-header" 
      [isHeader] = "true"
      [keysToRender]="['name', 'age', 'gender', 'department', 'address']"
      [rowData]="{name: 'Имя', age: 'Возраст', gender: 'Пол', department: 'Департамент', address: 'Адрес'}">
    </app-table-row>
    
    <app-table-row 
      *ngFor="let user of users"
      [keysToRender]="['name', 'age', 'gender', 'department', 'address']"
      [rowData]="user">
    </app-table-row>
  </div>
</div>