<div class="table-wrapper">
  <div *ngIf="loading">loading...</div>
  
  <app-table-filter></app-table-filter>
  
  <div class="table">
    <app-table-row
      class="table-header" 
      [isHeader] = "true"
      [keysToRender]="keysToRender"
      [rowData]="headerData"
      (sortKey)="sortTable($event)"
      (loading)="loading = $event"
    >
    </app-table-row>
    
    <app-table-row 
      *ngFor="let user of bodyData"
      [keysToRender]="keysToRender"
      [rowData]="user"
    >
    </app-table-row>
  </div>
</div>