// some useful colors here
$white-smoke: rgba(247, 247, 247, 1);
$jet: rgba(51, 51, 51, 1);
$old-silver: rgba(133, 133, 133, 1);
$pistachio: rgba(135, 194, 114, 1);
$russian-green: rgba(110, 159, 93, 1);
$bordo: rgba(184, 21, 0, 1);
