<div *ngFor="let filter of filters"
     class="filter"
>
  <div class="filter__label">
    {{ filter.label }}  
  </div>
  <h1>{{ filter[$name] }}</h1>
  <div class="filter-entry" *ngFor="let entry of filter.entries">
      <label class="filter-checkbox">
          <input type="checkbox" 
                 name="{{ entry.value }}"
                 attr.data-filter-name="{{ filter.name }}"
                 (click)="filterTable($event)"
                 checked="{{ entry.checked }}"
          />
          <div class="filter-checkbox__text">{{ entry.value }} 
            <span class="filter-entry__count">({{ entry.count }})</span>
          </div>
      </label> 
  </div>
</div>